
<!-- Sección de Check In, Check Out y el botón de buscar -->
<div class="container">
  <div class="date-container">
    <h2>Check In</h2>
    <input type="date" [min]="getCurrentDate()" />
  </div>

  <div class="date-container">
    <h2>Check Out</h2>
    <input type="date" [min]="getCurrentDate()" />
  </div>

  <button (click)="buscar()">Buscar</button>
</div>

<div class="data">
  <nav class="tarjetas" *ngFor="let habitacion of Habitaciones">
    <div class="habitacionImagen">
      <img [src]="url + 'get-imagenhabitacion/' + habitacion.Imagen" width="30%" height="70%" />
    </div>

    <div class="informacion">
      <h3>Numero de Habitacion: {{ habitacion.NumeroHabitacion }}</h3>
      <h3>Tipo de Habitacion: {{ habitacion.TipoHabitacion }}</h3>
      <h3>Capacidad Maxima: {{ habitacion.CapacidadMaxima }}</h3>
      <h3>Tipo de Cama: {{ habitacion.TipoCamas }}</h3>
      <h3>Precio: {{ habitacion.Precio }}</h3>
      <h3>Disponibilidad: {{ habitacion.Disponibilidad ? 'Disponible' : 'No disponible' }}</h3>
      <h3>Tipo de Alojamiento: {{ habitacion.TipoAlojamiento }}</h3>
      <label for="adultos">Adultos: </label>
      <input type="number" id="adultos">
      <label for="ninos">Niños: </label>
      <input type="number" id="ninos">
      <p></p>
      <button (click)="anadir()">Añadir habitación</button>
      <p></p>
    </div>
  </nav>
</div>
